@import '../ContactUs.module.scss';

.contactsContainer {
	max-width: 500px;
	width: 100%;
	opacity: 0.7;
	background-color: #021623;
	box-shadow: 0px 0px 3px 0px rgba(21,21,21,0.15);
	padding: 35px 20px 20px;
	.realContactItem,  .realContactItem a, 
	.virtualContactItem, .virtualContactItem a {
		opacity: 0.9;
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		line-height: 24px;
		color: #ffffff;
		font-weight: 200;
	}
	.virtualContacts {
		margin-top: 35px;
	}
	.contactMapContainer {
		width: 100%;
		height: 225px;
		margin-top: 25px;
		.contactMap {
			width: 100%;
			height: 100%;
		}
	}
}

@media(max-width: $breakPoint1) {
	.contactsContainer {
		margin: 50px auto 0;
	}
}

